# Copyright (c) 2020 Target Brands, Inc. All rights reserved.
#
# Use of this source code is governed by the LICENSE file in this repository.

version: '3'

services:

  vela:
    container_name: vela
    build:
      context: .
      dockerfile: Dockerfile
    image: vela:local
    networks:
      - vela
    environment:
      VELA_ADDR: "http://localhost:8080"
      VELA_DATABASE_DRIVER: postgres
      VELA_DATABASE_CONFIG: postgres://vela:zB7mrKDTZqNeNTD8z47yG4DHywspAh@postgres:5432/vela?sslmode=disable
      VELA_LOG_LEVEL: trace
      VELA_QUEUE_DRIVER: redis
      VELA_QUEUE_CONFIG: redis://redis:6379
      VELA_QUEUE_WORKER_ROUTES: large,small,docker,large:docker,small:docker
      VELA_PORT: ":8080"
      VELA_SECRET: zB7mrKDTZqNeNTD8z47yG4DHywspAh
      VELA_SOURCE_DRIVER: github
      VELA_SOURCE_URL: https://github.com/
      VELA_SECRET_VAULT: "true"
      VELA_SECRET_VAULT_ADDR: http://vault:8200
      VELA_SECRET_VAULT_TOKEN: vela
      VELA_REFRESH_TOKEN_DURATION: 5m
      VELA_ACCESS_TOKEN_DURATION: 1m
    env_file:
      - secrets.env
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
      - vault

  redis:
    container_name: redis
    image: redis:5-alpine
    networks:
      - vela
    ports:
      - "6379:6379"

  postgres:
    container_name: postgres
    image: postgres:12-alpine
    networks:
      - vela
    environment:
      POSTGRES_DB: vela
      POSTGRES_PASSWORD: zB7mrKDTZqNeNTD8z47yG4DHywspAh
      POSTGRES_USER: vela
    ports:
      - "5432:5432"

  vault:
    image: vault:0.9.6
    container_name: vault
    command: server -dev
    networks:
      - vela
    environment:
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
      VAULT_DEV_ROOT_TOKEN_ID: vela
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK

networks:
  vela:
