name: prerelease

on:
  push:
    tags:
      - 'v*'

jobs:
  prerelease:
    runs-on: ubuntu-latest
    container:
      image: golang:latest
    steps:
    - name: clone
      uses: actions/checkout@v1

    - name: build
      env:
        GOOS: linux
        CGO_ENABLED: '1'
      run: |
        go build -a \
          -ldflags '-s -w -extldflags "-static"' \
          -o release/vela-server \
          github.com/go-vela/server/cmd/server

    - name: publish
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: target/vela-server
        cache: true
        tag_names: true
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
