# name of the action
name: prerelease

# trigger on push events with `v*` in tag
on:
  push:
    tags:
      - 'v*'

# pipeline to execute
jobs:
  prerelease:
    runs-on: ubuntu-latest

    steps:
    - name: clone
      uses: actions/checkout@v3
      with:
        # ensures we fetch tag history for the repository
        fetch-depth: 0

    - name: install go
      uses: actions/setup-go@v4
      with:
        # use version from go.mod file
        go-version-file: 'go.mod'
        cache: true
        check-latest: true

    - name: setup
      run: |
        # setup git tag in Actions environment
        echo "GITHUB_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

    - name: build
      env:
        GOOS: linux
        CGO_ENABLED: '1'
      run: |
        make build-static-ci

    - name: publish
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: target/vela-server
        cache: true
        tag_names: true
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: publish-alpine
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: target/vela-server
        cache: true
        tags: "${{ env.GITHUB_TAG }}-alpine"
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: Dockerfile-alpine
