# name of the action
name: publish

# trigger on push events with branch master
on:
  push:
    branches: [ master ]

# pipeline to execute
jobs:
  publish:
    runs-on: ubuntu-latest
    container:
      image: golang:1.19
    steps:
    - name: clone
      uses: actions/checkout@v3
      with:
        # ensures we fetch tag history for the repository
        fetch-depth: 0

    - name: build
      env:
        GOOS: linux
        CGO_ENABLED: '1'
      run: |
        make build-static-ci

    - name: publish
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: target/vela-server
        cache: true
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: publish-alpine
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: target/vela-server
        cache: true
        tags: "latest-alpine"
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: Dockerfile-alpine
