name: Push Request Actions
on:
  push:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: clone
      uses: actions/checkout@master

    - name: build
      run: make build      

    - name: publish
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: target/vela/server
        cache: true
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}