# name of the action
name: reviewdog

# trigger on pull_request events
on:
  pull_request:

permissions:
  contents: read

# pipeline to execute
jobs:
  diff-review:
    runs-on: ubuntu-latest

    permissions:
      contents: read # for actions/checkout to fetch code
      pull-requests: write # for reviewdog/action-golangci-lint to report issues using PR comments

    steps:
      - name: clone
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: install go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          # use version from go.mod file
          go-version-file: "go.mod"
          cache: true
          check-latest: true

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          github_token: ${{ secrets.github_token }}
          golangci_lint_flags: "--config=.golangci.yml --timeout=5m"
          fail_level: error
          filter_mode: diff_context
          reporter: github-pr-review

  full-review:
    runs-on: ubuntu-latest

    permissions:
      checks: write # for reviewdog/action-golangci-lint to report issues using checks
      contents: read # for actions/checkout to fetch code

    steps:
      - name: clone
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: install go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5.6.0
        with:
          # use version from go.mod file
          go-version-file: "go.mod"
          cache: true
          check-latest: true

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          github_token: ${{ secrets.github_token }}
          golangci_lint_flags: "--config=.golangci.yml --timeout=5m"
          fail_level: error
          filter_mode: nofilter
