name: Test Action
on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: golang:latest
    steps:
    - name: clone
      uses: actions/checkout@v1

    - name: install
      run: |
        go get github.com/mattn/goveralls

    - name: test
      run: |
        go test -race -covermode=atomic -coverprofile=coverage.out ./...

    - name: coveralls
      env:
        COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      run: |
        # https://github.com/mattn/goveralls#goveralls
        $(go env GOPATH)/bin/goveralls -service=github -coverprofile=coverage.out
