# name of the action
name: test

# trigger on pull_request or push events
on:
  pull_request:
  push:

# pipeline to execute
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: clone
      uses: actions/checkout@v3

    - name: install go
      uses: actions/setup-go@v4
      with:
        # use version from go.mod file
        go-version-file: 'go.mod'
        cache: true
        check-latest: true

    - name: test
      run: |
        make test

    - name: coverage
      uses: codecov/codecov-action@c4cf8a4f03f0ac8585acb7c1b7ce3460ec15782f # v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage.out