# name of the action
name: test

# trigger on pull_request or push events
on:
  pull_request:
  push:

permissions:
  contents: read

# pipeline to execute
jobs:
  test:
    runs-on: ubuntu-latest

    # for codecov report upload
    permissions:
      id-token: write

    steps:
      - name: clone
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: install go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          # use version from go.mod file
          go-version-file: "go.mod"
          cache: true
          check-latest: true

      - name: test
        run: |
          make test

      - name: test jsonschema
        run: |
          go install github.com/santhosh-tekuri/jsonschema/cmd/jv@v0.7.0
          make test-jsonschema

      - name: coverage
        uses: codecov/codecov-action@ad3126e916f78f00edff4ed0317cf185271ccc2d # v5.4.2
        with:
          use_oidc: true
          file: coverage.out
